Repository kiwicom/margarita, pull requests merged in 2019-04, with the labels that each got.

#610 Add size prop to Button component
  packages/universal-components/src/Button/Button.native.js
  packages/universal-components/src/Button/Button.stories.js
  packages/universal-components/src/Button/Button.web.js
  packages/universal-components/src/Button/ButtonInner.js
  packages/universal-components/src/Button/ButtonTitle.js
  packages/universal-components/src/Button/ButtonTypes.js
  packages/universal-components/src/Button/__tests__/__snapshots__/index.test.js.snap
  packages/universal-components/src/Button/__tests__/index.test.js
  packages/universal-components/src/Button/styles/shared.js
Labels: universal-components

#618 Feat: Added code to Transporter type
  apps/core/components/ItineraryCard/Carriers.js
  apps/core/components/ItineraryCard/TripSector.js
  apps/core/components/ItineraryCard/__generated__/Carriers_data.graphql.js
  apps/core/components/ItineraryCard/__generated__/TripSector_data.graphql.js
  apps/core/components/sectorDetail/segment/Segment.js
  apps/core/components/sectorDetail/segment/SegmentConstants.js
  apps/core/components/sectorDetail/segment/__generated__/Segment_data.graphql.js
  apps/core/scenes/bookingDetail/__generated__/BookingDetailQuery.graphql.js
  apps/core/scenes/results/__generated__/OneWayResultsQuery.graphql.js
  apps/core/scenes/results/__generated__/ReturnResultsQuery.graphql.js
  apps/graphql/src/apps/booking/Booking.js
  apps/graphql/src/apps/booking/dataloaders/Bookings.js
  apps/graphql/src/apps/common/CommonTypes.js
  apps/graphql/src/apps/common/types/outputs/Carrier.js
  apps/graphql/src/apps/common/types/outputs/Segment.js
  apps/graphql/src/apps/itinerary/helpers/Itineraries.js
  apps/graphql/src/apps/itinerary/helpers/__tests__/Itineraries.test.js
  packages/components/src/timelineTransportDetail/TimelineTransportDetail.js
  packages/components/src/timelineTransportDetail/components/CardHeader.js
  packages/universal-components/src/CarrierLogo/CarrierLogoHelpers.js
  packages/universal-components/src/CarrierLogo/CarrierLogoTypes.js
  schema.graphql
Labels: FrontEnd, GraphQL, Tequila API

#607 Add SortTabs component on the FE for sorting Search Queries
  apps/core/scenes/results/Results.js
  apps/core/scenes/results/ResultsList.js
  apps/core/scenes/search/Search.js
  apps/core/scenes/search/SearchContext.js
  apps/core/scenes/search/SortTabsWrapper.js
  apps/mobile/src/screens/ResultsScreen.js
  apps/web/pages/results.js
  packages/components/src/sortTabs/SortTabs.js
  packages/components/src/sortTabs/__tests__/__snapshots__/index.test.js.snap
Labels: margarita

#623 Refactor: Changed Structure of Margarita Utils
  packages/utils/index.js
  packages/utils/localization/DateFormatter.js
  packages/utils/localization/DateUtils.js
  packages/utils/localization/__tests__/DateFormatter.test.js
  packages/utils/localization/__tests__/DateUtils.test.js
  packages/utils/src/Capitalize/Capitalize.js
  packages/utils/src/Capitalize/__tests__/Capitalize.test.js
  packages/utils/src/CurrencyFormatter/CurrencyFormatter.js
  packages/utils/src/Device/Device.js
  packages/utils/src/FormatDate/FormatDate.js
  packages/utils/src/FormatDate/__tests__/FormatDate.test.js
  packages/utils/src/GetDeviceLocale/GetDeviceLocale.js
  packages/utils/src/GetDeviceLocale/GetDeviceLocale.native.js
  packages/utils/src/GetDeviceLocale/__mocks__/GetDeviceLocale.js
  packages/utils/src/GetDeviceLocale/__mocks__/GetDeviceLocale.native.js
  packages/utils/src/Layout/LayoutConstants.js
  packages/utils/src/Layout/LayoutContext.js
  packages/utils/src/Layout/LayoutContextHelpers.js
  packages/utils/src/Layout/__tests__/LayoutContextHelpers.test.js
Labels: enhancement

#647 Feature: Implement save_booking endpoint from Booking API
  apps/core/scenes/bookingDetail/menuGroups/Passengers/__generated__/Passenger_data.graphql.js
  apps/graphql/src/Schema.js
  apps/graphql/src/apps/booking/Booking.js
  apps/graphql/src/apps/booking/dataloaders/SaveBooking.js
  apps/graphql/src/apps/booking/dataloaders/__tests__/SaveBooking.test.js
  apps/graphql/src/apps/booking/queries/SaveBooking.js
  apps/graphql/src/apps/booking/types/enums/PassengerTitle.js
  apps/graphql/src/apps/booking/types/inputs/HoldBags.js
  apps/graphql/src/apps/booking/types/inputs/PassengerInput.js
  apps/graphql/src/apps/booking/types/inputs/SaveBookingPayload.js
  apps/graphql/src/apps/booking/types/outputs/BookingInterface.js
  apps/graphql/src/apps/booking/types/outputs/Passenger.js
  apps/graphql/src/apps/booking/types/outputs/SaveBooking.js
  apps/graphql/src/server.js
  apps/graphql/src/services/graphqlContext/GraphQLContext.js
  apps/graphql/src/services/helpers/parseAcceptLanguage.js
  schema.graphql
Labels: GraphQL

#659 Feature: confirm_payment GraphQL Mutation for Booking Workflow
  apps/graphql/src/Schema.js
  apps/graphql/src/apps/booking/Booking.js
  apps/graphql/src/apps/booking/dataloaders/ConfirmPayment.js
  apps/graphql/src/apps/booking/mutations/ConfirmPayment.js
  apps/graphql/src/apps/booking/mutations/SaveBooking.js
  apps/graphql/src/apps/booking/mutations/__tests__/__datasets__/confirmPayment.json
  apps/graphql/src/apps/booking/mutations/__tests__/__fixtures__/ConfirmPayment.graphql
  apps/graphql/src/apps/booking/mutations/__tests__/__snapshots__/mutations.test.js.snap
  apps/graphql/src/apps/booking/mutations/__tests__/mutations.test.js
  apps/graphql/src/apps/booking/types/inputs/ConfirmPaymentPayload.js
  apps/graphql/src/apps/booking/types/outputs/ConfirmPayment.js
  apps/graphql/src/services/graphqlContext/GraphQLContext.js
  schema.graphql
Labels: GraphQL

#664 Refactor: Separate GraphQL booking folder into booking and mmb
  apps/graphql/src/Schema.js
  apps/graphql/src/apps/booking/Booking.js
  apps/graphql/src/apps/booking/dataloaders/SaveBooking.js
  apps/graphql/src/apps/booking/dataloaders/__tests__/SaveBooking.test.js
  apps/graphql/src/apps/booking/types/inputs/PassengerInput.js
  apps/graphql/src/apps/booking/types/outputs/SaveBooking.js
  apps/graphql/src/apps/common/types/outputs/FromToInterface.js
  apps/graphql/src/apps/common/types/outputs/Sector.js
  apps/graphql/src/apps/manageMyBooking/__datasets__/AllBookings.json
  apps/graphql/src/apps/manageMyBooking/__datasets__/booking-16463447.json
  apps/graphql/src/apps/manageMyBooking/__datasets__/booking-6676524.json
  apps/graphql/src/apps/manageMyBooking/__datasets__/booking-8142828.json
  apps/graphql/src/apps/manageMyBooking/dataloaders/BookingDetail.js
  apps/graphql/src/apps/manageMyBooking/dataloaders/Bookings.js
  apps/graphql/src/apps/manageMyBooking/manageMyBooking.js
  apps/graphql/src/apps/manageMyBooking/queries/BookingDetail.js
  apps/graphql/src/apps/manageMyBooking/queries/CustomerBookings.js
  apps/graphql/src/apps/manageMyBooking/queries/__tests__/__fixtures__/BookingDetail.graphql
  apps/graphql/src/apps/manageMyBooking/queries/__tests__/__fixtures__/CustomerBookings.graphql
  apps/graphql/src/apps/manageMyBooking/queries/__tests__/__snapshots__/queries.test.js.snap
  apps/graphql/src/apps/manageMyBooking/queries/__tests__/queries.test.js
  apps/graphql/src/apps/manageMyBooking/types/enums/BookingType.js
  apps/graphql/src/apps/manageMyBooking/types/enums/PassengerTitle.js
  apps/graphql/src/apps/manageMyBooking/types/outputs/Bag.js
  apps/graphql/src/apps/manageMyBooking/types/outputs/BagType.js
  apps/graphql/src/apps/manageMyBooking/types/outputs/BookingInterface.js
  apps/graphql/src/apps/manageMyBooking/types/outputs/BookingMulticity.js
  apps/graphql/src/apps/manageMyBooking/types/outputs/BookingOneWay.js
  apps/graphql/src/apps/manageMyBooking/types/outputs/BookingReturn.js
  apps/graphql/src/apps/manageMyBooking/types/outputs/ContactDetails.js
  apps/graphql/src/apps/manageMyBooking/types/outputs/Passenger.js
  apps/graphql/src/apps/manageMyBooking/types/outputs/__tests__/BookingInterface.test.js
  apps/graphql/src/services/graphqlContext/GraphQLContext.js
  schema.graphql
Labels: GraphQL

#691 Refactor: Split location dataLoaders (ID and Term)
  apps/graphql/src/apps/common/types/inputs/LocationTypeInput.js
  apps/graphql/src/apps/common/types/outputs/RouteStop.js
  apps/graphql/src/apps/location/Location.js
  apps/graphql/src/apps/location/dataloaders/Locations.js
  apps/graphql/src/apps/location/dataloaders/LocationsByID.js
  apps/graphql/src/apps/location/dataloaders/LocationsByTerm.js
  apps/graphql/src/apps/location/helpers/sanitizeLocation.js
  apps/graphql/src/apps/location/queries/LocationsByTerm.js
  apps/graphql/src/services/graphqlContext/GraphQLContext.js
Labels: GraphQL

#686 Enhancement: Use Context instead of URL for Results.
  apps/core/components/searchForm/SearchForm.js
  apps/core/package.json
  apps/core/scenes/results/Results.js
  apps/web/pages/_app.js
  apps/web/pages/index.js
  apps/web/pages/results.js
Labels: margarita

#695 Keep parameters on reloading (from URL)
  apps/core/scenes/results/Results.js
  apps/core/scenes/search/Search.js
  apps/core/scenes/search/SearchContext.js
  apps/web/pages/index.js
  apps/web/pages/results.js
Labels: margarita

#703 Refactor: Search Modals are no longer tied to the context
  apps/core/components/searchForm/PassengersModal.js
  apps/core/components/searchForm/PlacePicker/PlacePickerContent.js
  apps/core/components/searchForm/PlacePicker/PlacePickerRenderer.js
  apps/core/components/searchForm/Placepickers.js
  apps/core/components/searchForm/SearchForm.js
  apps/core/components/searchForm/SearchFormModes.js
  apps/core/components/searchForm/SearchModal.js
  apps/core/components/searchForm/TripTypeSelect.js
  apps/core/scenes/search/SearchConstants.js
  apps/core/scenes/search/SearchContext.js
  packages/components/src/tripTypeSwitch/TripTypeSwitch.js
Labels: margarita
