Repository kiwicom/margarita, pull requests merged in 2019-03, with the labels that each got.

#453 GraphQL: add custom error
  apps/graphql/src/services/fetch/Fetch.js
  apps/graphql/src/services/fetch/ProxiedError.js
  apps/graphql/src/services/fetch/__tests__/ProxiedError.test.js
Labels: GraphQL

#494 Fix: Set correct TextInput fontFamily
  packages/universal-components/src/TextInput/TextInput.js
  packages/universal-components/src/TextInput/__tests__/__snapshots__/index.test.js.snap
Labels: universal-components

#565 Feat: Added ThemeProvider
  apps/core/scenes/bookingDetail/menuGroups/Passengers/__tests__/__snapshots__/Bag.test.js.snap
  packages/components/src/passengerCard/__tests__/__snapshots__/PassengerCard.test.js.snap
  packages/components/src/text/__tests__/__snapshots__/Text.android.test.js.snap
  packages/components/src/text/__tests__/__snapshots__/Text.ios.test.js.snap
  packages/components/src/timelineInformation/__tests__/__snapshots__/TimelineInformation.test.js.snap
  packages/universal-components/package.json
  packages/universal-components/src/Button/__tests__/__snapshots__/index.test.js.snap
  packages/universal-components/src/FilterButton/__tests__/__snapshots__/index.test.js.snap
  packages/universal-components/src/Icon/__tests__/__snapshots__/index.test.js.snap
  packages/universal-components/src/MenuGroup/__tests__/__snapshots__/MenuItem.android.test.js.snap
  packages/universal-components/src/MenuGroup/__tests__/__snapshots__/MenuItem.ios.test.js.snap
  packages/universal-components/src/MenuGroup/__tests__/__snapshots__/MenuItem.test.js.snap
  packages/universal-components/src/Modal/__tests__/__snapshots__/Modal.test.js.snap
  packages/universal-components/src/PickerButton/__tests__/__snapshots__/index.test.js.snap
  packages/universal-components/src/RadioButton/__tests__/__snapshots__/index.test.js.snap
  packages/universal-components/src/Rating/__tests__/__snapshots__/index.test.js.snap
  packages/universal-components/src/Stepper/__tests__/__snapshots__/index.test.js.snap
  packages/universal-components/src/Text/Text.js
  packages/universal-components/src/Text/TextTypes.js
  packages/universal-components/src/Text/__tests__/__snapshots__/Text.android.test.js.snap
  packages/universal-components/src/Text/__tests__/__snapshots__/Text.ios.test.js.snap
  packages/universal-components/src/Text/__tests__/__snapshots__/Text.web.test.js.snap
  packages/universal-components/src/Text/__tests__/__snapshots__/index.test.js.snap
  packages/universal-components/src/TextInput/TextInput.js
  packages/universal-components/src/TextInput/TextInputTypes.js
  packages/universal-components/src/TextInput/__tests__/__snapshots__/index.test.js.snap
  packages/universal-components/src/ThemeProvider/ThemeHelpers.js
  packages/universal-components/src/ThemeProvider/ThemeProvider.js
  packages/universal-components/src/ThemeProvider/ThemeProvider.stories.js
  packages/universal-components/src/ThemeProvider/index.js
  packages/universal-components/src/Tooltip/__tests__/__snapshots__/index.test.js.snap
  packages/universal-components/src/index.js
Labels: universal-components

#577 Feat: Create new Search Input Schema.
  apps/graphql/src/apps/common/types/inputs/DateRange.js
  apps/graphql/src/apps/itinerary/Itinerary.js
  apps/graphql/src/apps/itinerary/dataloaders/Itineraries.js
  apps/graphql/src/apps/itinerary/dataloaders/__tests__/Itineraries.test.js
  apps/graphql/src/apps/itinerary/queries/SearchOneWayItineraries.js
  apps/graphql/src/apps/itinerary/queries/__tests__/__fixtures__/itineraries/ItinerariesOneWay.graphql
  apps/graphql/src/apps/itinerary/queries/__tests__/__snapshots__/ItinerariesQueries.test.js.snap
  apps/graphql/src/apps/itinerary/types/enums/OrderSearch.js
  apps/graphql/src/apps/itinerary/types/enums/SortSearch.js
  apps/graphql/src/apps/itinerary/types/inputs/ItinerariesOneWaySearchInput.js
  apps/graphql/src/apps/itinerary/types/inputs/ItinerariesSearchInput.js
  apps/graphql/src/apps/itinerary/types/inputs/ItinerariesSharedSearchInput.js
  apps/graphql/src/apps/itinerary/types/inputs/ItineraryCheckInput.js
  apps/graphql/src/apps/itinerary/types/inputs/common/ItineraryCommonInputFields.js
  apps/graphql/src/apps/itinerary/types/inputs/common/ItineraryCommonSearchInputFields.js
  apps/graphql/src/apps/itinerary/types/inputs/common/ItineraryLocationInput.js
  apps/graphql/src/apps/itinerary/types/inputs/common/PassengersInput.js
  apps/graphql/src/services/graphqlContext/GraphQLContext.js
  packages/universal-components/.release-it.json
  schema.graphql
  yarn.lock
Labels: GraphQL

#592 Feat: Migrate the FE to use the new Search GraphQL Queries
  apps/core/scenes/results/Results.js
  apps/core/scenes/results/__generated__/ResultsOneWayQuery.graphql.js
  apps/core/scenes/results/__generated__/ResultsReturnQuery.graphql.js
  apps/graphql/src/Schema.js
  apps/graphql/src/apps/itinerary/Itinerary.js
  apps/graphql/src/apps/itinerary/dataloaders/Itineraries.js
  apps/graphql/src/apps/itinerary/dataloaders/__tests__/Itineraries.test.js
  apps/graphql/src/apps/itinerary/queries/SearchItineraries.js
  apps/graphql/src/apps/itinerary/queries/SearchOneWayItineraries.js
  apps/graphql/src/apps/itinerary/queries/SearchReturnItineraries.js
  apps/graphql/src/apps/itinerary/queries/__tests__/__fixtures__/itineraries/Itineraries.graphql
  apps/graphql/src/apps/itinerary/queries/__tests__/__snapshots__/ItinerariesQueries.test.js.snap
  apps/graphql/src/apps/itinerary/types/inputs/ItinerariesSearchInput.js
  apps/graphql/src/services/graphqlContext/GraphQLContext.js
  schema.graphql
Labels: GraphQL

#601 Feat: Add SortTabs Component
  packages/components/index.js
  packages/components/src/sortTabs/SortTab.js
  packages/components/src/sortTabs/SortTabs.js
  packages/components/src/sortTabs/SortTabs.stories.js
  packages/components/src/sortTabs/__tests__/__snapshots__/index.test.js.snap
  packages/components/src/sortTabs/__tests__/index.test.js
  packages/components/src/sortTabs/index.js
Labels: Component, margarita
